<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style type="text/css">

.body{
    display: inline-block;
}
.home{
    vertical-align: top;
}
.logout{
    vertical-align: top;
    float: right;
}
button{
    margin-top: 10px;
}
    
</style>
<body>
    <div class="container">
        <div class="jumbotron bg-info">
            <div class="body">
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/add" method="post" class="addform">
                    {% csrf_token %}
                    <h1>Add a Trip</h1>
                    <h3>Destination:</h3><input type="text" name="dest" id="" class="form-control form-rounded">
                    <h3>Description:</h3><textarea name="desc" id="" cols="30" rows="10" class="form-control form-rounded"></textarea>
                    <h3>Travel Date From:</h3><input type="date" name="travel_from" id="" class="form-control form-rounded">
                    <h3>Travel Date To:</h3><input type="date" name="travel_to" id="" class="form-control form-rounded">
                    <button type="submit" class="btn btn-warning">Add</button>
                </form>
                <!-- <form action="/upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <input type="file" name="image" id="">
                    <button type="submit">Upload</button>  
                </form> -->
            </div>
            <a href="/travels" class="home text-warning">Home</a>
            <a href="/logout" class="logout text-danger">Logout</a>
        </div>
    </div>
</body>
</html>