<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/register" method="post" class="RegForm">
            {% csrf_token %}
            <h1>Register</h1>
            <h3>Name:</h3><input type="text" name="name" id="">
            <h3>Username:</h3><input type="text" name="username" id="">
            <h3>Password:</h3><input type="password" name="password" id="">
            <h3>Confirm PW:</h3><input type="password" name="confirmpw" id="">
            <button type="submit">Register</button>
        </form>
        <form action="/login" method="post" class="LogForm">
            {% csrf_token %}
            <h1>Login</h1>
            <h3>Username:</h3><input type="text" name="username" id="">
            <h3>Password:</h3><input type="password" name="password" id="">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>