<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Dashboard</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">
h1{
    display: inline-block;
}
.logout{
    float: right;
}
table{
    
}

</style>
<body>
    <div class="container">
        <div class="jumbotron bg-info">
            <h1>Hello, {{user.name}}!</h1>
            <a href="logout" class="logout text-danger">Logout</a>
            <div class="table1">
                <h3>Your Events</h3>
                <table class="table table-striped table-hover table-dark">
                    <tr>
                        <th class="text-center">Event</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Plan</th>
                    </tr>
                    {% for trip in trip.distinct %}
                    <tr>
                        <td class="text-center"><a href="/travels/destination/{{trip.id}}" class="text-warning">{{trip.destination}}</a></td>
                        <td class="text-center">{{trip.travel_start_date}}</td>
                        <td class="text-center">{{trip.travel_end_date}}</td>
                        <td class="text-center">{{trip.plan}}</td> 
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <a href="travels/add" class="text-warning">Add an Event</a>
            <div class="table2">
                <h3>Other Events</h3>
                <table class="table table-striped table-hover table-dark">
                    <tr>
                        <th class="text-center">Creator</th>
                        <th class="text-center">Event</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center">Join?</th>
                    </tr>
                    {% for trip in othertrips %}
                    <tr>
                        <td class="text-center">{{trip.creator.name}}</td>
                        <td class="text-center"><a href="/travels/destination/{{trip.id}}" class="text-warning">{{trip.destination}}</a></td>
                        <td class="text-center">{{trip.travel_start_date}}</td>
                        <td class="text-center">{{trip.travel_end_date}}</td>
                        <td class="text-center"><a class="text-primary" href="/join/{{trip.id}}">Join</a></td> 
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>