<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">

.body{
    display: inline-block;
}
.home{
    vertical-align: top;
}
.logout{
    vertical-align: top;
    float: right;
}

</style>
<body>
    <div class="container">
        <div class="jumbotron bg-info">
            <div class="body">
                <h2 class="text-light">{{trip.destination}}</h2>
                <h5>Created by: {{trip.creator.name}}</h5>
                <h5>Description: {{trip.plan}}</h5>
                <h5>Start Date: {{trip.travel_start_date}}</h5>
                <h5>End Date: {{trip.travel_end_date}}</h5>
                <h2 class="text-light">Other users' who have joined:</h2>
                {% for x in trip.participants.all %}
                <p>{{x.name}}</p>
                {% endfor %}
            </div>
            <a href="/events" class="home text-warning">Home</a>
            <a href="/logout" class="logout text-danger">Logout</a>
        </div>
    </div>
</body>
</html>